$color: #ffffff;
$background-color: rgb(255, 255, 0);

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $background-color;
  height: 150px;
  padding: 20px;
  color: $color;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-background {
	background: url(app-bg.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.app-dragger{
	margin: 10%;
	margin-top: 5%;
}

.app-content{
	background-color: rgba(255, 255, 255, 0.5)
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

